{% extends 'base.html.twig' %}

{% block title %}Wichtelrunde erstellen{% endblock %}

{% block body %}

    <div class="page-header">
        <div class="page-header-text">
            Wunsch erstellen
        </div>
        <div class="page-header-image">
            <img src="{{ asset('assets/img/registration.svg') }}" alt="Tile image">
        </div>
    </div>
    <div class="content-body">
    <div class="form-submit-field" style="margin-bottom: 10px">
        <a href="{{ path('app_desire_list', {'desireList': desireList.id}) }}">
            <button class="btn cancel">
                Zurück
            </button>
        </a>
    </div>
    <div class="form-area">
        {{ form_start(form, {'method': 'POST'}) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="form-input-field">
            <label class="hidden" for="desire_create_name"></label>
            <div class="image-form-row">
                <div class="image-form-row-image">
                    <img src="{{ asset ('assets/img/email.svg') }}" alt="Tile image">
                </div>
                {{ form_widget(form.name, {'attr': {'class': 'form-style', 'placeholder':'Name', 'id': 'name'}}) }}
            </div>
        </div>

        <div class="form-input-field">
            <label class="hidden" for="desire_create_description"></label>
            <div class="image-form-row">
                <div class="image-form-row-image">
                    <img src="{{ asset ('assets/img/description.svg') }}" alt="Tile image">
                </div>
                {{ form_widget(form.description, {'attr': {'class': 'form-style', 'placeholder':'Beschreibung', 'id': 'description'}}) }}
            </div>
        </div>

        <div class="form-input-field">
            <label class="hidden" for="desire_create_url1"></label>
            <div class="image-form-row">
                <div class="image-form-row-image">
                    <img src="{{ asset ('assets/img/link.svg') }}" alt="Tile image">
                </div>
                {{ form_widget(form.url1, {'attr': {'class': 'form-style', 'placeholder':'Beispiellink (optional)', 'id': 'url1'}}) }}
            </div>
        </div>

        <div class="form-input-field">
            <label class="hidden" for="desire_create_url2"></label>
            <div class="image-form-row">
                <div class="image-form-row-image">
                    <img src="{{ asset ('assets/img/link.svg') }}" alt="Tile image">
                </div>
                {{ form_widget(form.url2, {'attr': {'class': 'form-style', 'placeholder':'Beispiellink (optional)', 'id': 'url2'}}) }}
            </div>
        </div>

        <div class="form-input-field">
            <label class="hidden" for="desire_create_url3"></label>
            <div class="image-form-row">
                <div class="image-form-row-image">
                    <img src="{{ asset ('assets/img/link.svg') }}" alt="Tile image">
                </div>
                {{ form_widget(form.url3, {'attr': {'class': 'form-style', 'placeholder':'Beispiellink (optional)', 'id': 'url3'}}) }}
            </div>
        </div>

        <div class="form-input-field">
            <div class="form-input-info-text">Soll es exakt das Produkt aus dem Beispiellink sein?</div>
            <label class="hidden" for="desire_create_exactly"></label>
            <div class="image-form-row">
                <div class="image-form-row-image">
                    <img src="{{ asset('assets/img/reason.svg') }}" alt="Tile image">
                </div>
                <div class="toggle-switch-container">
                    <label class="switch">
                        <label for="desire_create_exactly" class="switch-toggle-label"></label>
                        {{ form_widget(form.exactly, {'attr': {'class': 'toggle-box', 'placeholder': 'Exakt', 'id': 'exactly', 'value': 1}}) }}
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-input-field">
            <div class="form-input-info-text">Ist es dir egal, wenn dir mehrere Leute den Wunsch erfüllen?</div>

            <label class="hidden" for="desire_create_exclusive"></label>
            <div class="image-form-row">
                <div class="image-form-row-image">
                    <img src="{{ asset('assets/img/reason.svg') }}" alt="Tile image">
                </div>
                <div class="toggle-switch-container">
                    <label class="switch">
                        <label for="desire_create_exclusive" class="switch-toggle-label"></label>
                        {{ form_widget(form.exclusive, {'attr': {'class': 'toggle-box', 'placeholder': 'Exklusiv', 'id': 'exclusive', 'value': 1}}) }}
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>

        {{ form_row(form._token) }}

        <div class="form-submit-area">
            <div class="form-submit-field">
                {{ form_widget(form.submit, {'attr': {'class': 'btn'}}) }}
            </div>

        </div>
    </div>


{% endblock %}