{% extends 'base.html.twig' %}

{% block title %}Globale Wunschliste{% endblock %}

{% block body %}

    <div class="page-header">
        <div class="page-header-text">
            Globale Wunschliste
        </div>
        <div class="page-header-image">
            <i class="fa-solid fa-globe fa-lg me-3 text-secondary"></i>
        </div>
    </div>

    <div class="container py-2">
        <div class="card shadow bg-secondary">
            <div class="card-body bg-secondary">
                <!-- Action Buttons -->
                <div class="d-flex justify-content-start gap-2">
                    <a href="{{ path('app_home') }}" class="btn btn-outline-dark btn-small">
                        <i class="fa-solid fa-home btn-icon"></i>
                        <span class="btn-text">Zurück</span>
                    </a>
                    <a href="{{ path('app_desire_create', {'desireList': masterList.id}) }}" class="btn btn-success btn-small">
                        <i class="fa-solid fa-plus btn-icon"></i>
                        <span class="btn-text">Neuer Wunsch</span>
                    </a>
                    <a href="{{ path('app_desire_switch') }}" class="btn btn-primary btn-small">
                        <i class="fa-solid fa-shuffle btn-icon"></i>
                        <span class="btn-text">Wünsche switchen</span>
                    </a>
                </div>
            </div>
        </div>
    </div>



    {#    {{ component('Test') }} #}
    <div class="container py-2">
        <div class="card shadow">
            <div class="card-body">
                <!-- Informational Text -->
                <div class="text-center mb-4 bg-body-secondary p-3 rounded">
                    <p class=" fs-6">
                        Das ist deine globale Wunschliste. Du kannst sie das ganze Jahr über verwenden um dir Wünsche zu
                        merken. Du kannst Wünsche aus ihr in andere Wunschlisten (z.B. deine Geburtstagsliste) kopieren
                        oder verschieben.
                    </p>
                </div>
                {{ component('DesireListComponent', {desires: masterList.desires.toArray, list: masterList, desireCount: masterList.desires|length}) }}
            </div>
        </div>
    </div>
{% endblock %}