{% extends 'base.html.twig' %}

{% block title %}Globale Wunschliste{% endblock %}

{% block body %}

    <div class="page-header">
        <div class="page-header-text">
            Globale Wunschliste
        </div>
        <div class="page-header-image">
            <i class="fa-solid fa-globe fa-lg me-3 text-secondary"></i>
        </div>
    </div>
{#    {{ component('Test') }}#}
    <div class="content-body py-5">
            <!-- Informational Text -->
            <div class="text-center mb-4 bg-dark p-3 rounded">
                <p class="text-white fs-6">
                    Das ist deine globale Wunschliste. Du kannst sie das ganze Jahr über verwenden um dir Wünsche zu merken. Du kannst Wünsche aus ihr in andere Wunschlisten (z.B. deine Geburtstagslist) kopieren oder verschieben.
                </p>
            </div>

            <!-- Action Buttons -->
            <div class="row mb-4">
                <div class="col-12 col-md-auto mb-3 mb-md-0">
                    <a href="{{ path('app_home') }}" class="btn btn-outline-secondary w-100">
                        <i class="fa-solid fa-home me-2"></i> Zurück
                    </a>
                </div>
                <div class="col-12 col-md-auto mb-3 mb-md-0">
                    <a href="{{ path('app_desire_create', {'desireList': masterList.id}) }}" class="btn btn-success w-100">
                        <i class="fa-solid fa-plus me-2"></i> Neuer Wunsch
                    </a>
                </div>
                <div class="col-12 col-md-auto">
                    <a href="{{ path('app_desire_switch') }}" class="btn btn-primary w-100">
                        <i class="fa-solid fa-shuffle me-2"></i> Wünsche switchen
                    </a>
                </div>
            </div>

            {{ component('DesireListComponent', {desires: masterList.desires.toArray, list: masterList, desireCount: masterList.desires|length}) }}
        </div>
{% endblock %}