{% extends 'base.html.twig' %}

{% block title %}Wunschliste{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="page-header-text">
            Deine {{ list.name }}
        </div>
        <div class="page-header-image">
            <i class="fa-solid fa-heart fa-lg me-3 text-danger"></i>
        </div>
    </div>
    <div class="container my-5"> <!-- Add container for responsive layout -->
        <!-- Informational Text -->
        <div class="text-center mb-4 bg-dark p-3 rounded">
            <p class="text-white fs-5">
                {% set priority = '<span class="fw-bold text-warning">nicht priorisiert.</span> Das bedeutet, dir ist egal welchen der Wünsche sich die Leute aussuchen'%}
                {% if list.hasPriority %}
                    {% set priority = '<span class="fw-bold text-warning">priorisiert.</span> Das bedeutet, dass du den Wunsch ganz oben gerne als erstes erfüllt haben möchtest!'%}
                {% endif %}
                Deine Wunschliste ist momentan {{ priority|raw }}
            </p>
        </div>


        <!-- Action Buttons -->
        <div class="row mb-4">
            <div class="col-12 col-md-auto mb-3 mb-md-0">
                {% if ssEvent is not null %}
                    <a href="{{ path('app_secret_santa_detail', {'event': ssEvent.id}) }}" class="btn btn-outline-secondary w-100">
                        <i class="fa-solid fa-gifts me-2"></i> Zum Event
                    </a>
                {% else %}
                    <a href="{{ path('app_event_detail', {'event': event.id}) }}" class="btn btn-outline-secondary w-100">
                        <i class="fa-solid fa-gifts me-2"></i> Zum Event
                    </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-auto">
                <a href="{{ path('app_desire_create', {'desireList': list.id}) }}" class="btn btn-success w-100">
                    <i class="fa-solid fa-plus me-2"></i> Neuer Wunsch
                </a>
            </div>
        </div>

        <!-- Desires List -->
        {{ component('DesireListComponent', {desires: desires, list: list, desireCount: desires|length}) }}
    </div>
{% endblock %}