{% extends 'base.html.twig' %}

{% block title %}Wunschliste{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="page-header-text">
            Deine {{ list.name }}
        </div>
        <div class="page-header-image">
            <img src="{{ asset('assets/img/heart.svg') }}" alt="Tile image">
        </div>
    </div>

    <div class="content-body">
        <div class="desire-image-button">
            <a href="{{ path('app_secret_santa_detail',  {'event': event.id}) }}">
                <button>
                    <img src="{{ asset('assets/img/event.svg') }}" alt="Tile image">
                    <div class="desire-image-button-text">Übersicht</div>
                </button>
            </a>
        </div>

        <div class="desire-image-button">
            <a href="{{ path('app_desire_create',  {'desireList': list.id}) }}">
                <button>
                    <img src="{{ asset('assets/img/list_add.svg') }}" alt="Tile image">
                    <div class="desire-image-button-text">Neuer Wunsch</div>
                </button>
            </a>
        </div>


        {% for desire in desires %}
            {% if  loop.index  == 1 %}
            {{ component('DesireComponent', { desire: desire, desireList: list, disableUp: true, disableDown: false}) }}
            {% elseif loop.index == desires|length  %}
                {{ component('DesireComponent', { desire: desire, desireList: list, disableUp: false, disableDown: true}) }}
            {% else %}
                {{ component('DesireComponent', { desire: desire, desireList: list, disableUp: false, disableDown: false}) }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
