{% extends 'base.html.twig' %}

{% block title %}Wunschliste{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="page-header-text">
            {{ list.name }} von {{ list.owner.firstName }}
        </div>
        <div class="page-header-image">
            <img src="{{ asset('assets/img/registration.svg') }}" alt="Tile image">
        </div>
    </div>

    <div class="content-body">

        {% for desire in desires %}
            {{ component('ForeignDesireComponent', { desire: desire, desireList: list, currentUser: currentUser}) }}

        {% endfor %}

        <div class="desire-create-button">
            <a href="{{ path('app_desire_create',  {'desireList': list.id}) }}">
                <button class="desire-navi-button">
                    Zu deiner eigenen Liste
                </button>
            </a>
        </div>
    </div>
{% endblock %}
