{% extends 'base.html.twig' %}

{% block title %}Wunschliste{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="page-header-text">
            Deine {{ list.name }}
        </div>
        <div class="page-header-image">
            <i class="fa-solid fa-heart fa-lg me-3 text-danger"></i>
        </div>
    </div>

    <!-- Action Buttons -->
    <div class="container py-2">
        <div class="card shadow bg-secondary">
            <div class="card-body bg-secondary">
                <!-- Action Buttons -->
                <div class="d-flex justify-content-start gap-2">
                    {% if ssEvent is not null %}
                        <a href="{{ path('app_secret_santa_detail', {'event': ssEvent.id}) }}"
                           class="btn btn-outline-dark btn-small">
                            <i class="fa-solid fa-house btn-icon"></i>
                            <span class="btn-text">Übersicht</span>
                        </a>
                    {% else %}
                        <a href="{{ path('app_home') }}" class="btn btn-outline-dark btn-small">
                            <i class="fa-solid fa-house btn-icon"></i>
                            <span class="btn-text">Zu deiner Home-Area</span>
                        </a>
                    {% endif %}
                    <a href="{{ path('app_desire_create', {'desireList': list.id}) }}"
                       class="btn btn-success btn-small">
                        <i class="fa-solid fa-plus btn-icon"></i>
                        <span class="btn-text">Neuer Wunsch</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-2"> <!-- Add container for responsive layout -->
        <div class="card shadow">
            <div class="card-body">
                <!-- Informational Text -->
                <div class="text-center mb-4 bg-body-secondary p-3 rounded">
                    <p class="fs-6">
                        {% set priority = '<span class="fw-bold text-warning">nicht priorisiert.</span> Das bedeutet, dir ist egal welchen der Wünsche sich die Leute aussuchen' %}
                        {% if list.hasPriority %}
                            {% set priority = '<span class="fw-bold text-warning">priorisiert.</span> Das bedeutet, dass du den Wunsch ganz oben gerne als erstes erfüllt haben möchtest!' %}
                        {% endif %}
                        Deine Wunschliste ist momentan {{ priority|raw }}
                    </p>

                    {% set legend = [
                        {
                            icon: 'fa-solid fa-fingerprint',
                            label: 'Exakt das Produkt aus dem Beispiellink'
                        },
                        {
                            icon: 'fa-solid fa-copy',
                            label: 'Darf mehrfach geschenkt werden'
                        },
                        {
                            icon: 'fa-solid fa-eye',
                            label: 'Sichtbar für Besucher deiner Liste'
                        },
                        {
                            icon: 'fa-solid fa-eye-slash',
                            label: 'Wird Besuchern deiner Liste nicht angezeigt'
                        },
                    ] %}
                    <h6 class="text-start">Legende:</h6>
                    <ul class="text-start list-unstyled">
                        {% for entry in legend %}
                            <li class="mb-1">
                                <i class="{{ entry.icon }} fa-lg me-3"></i>{{ entry.label }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>


                <!-- Desires List -->
                {{ component('DesireListComponent', {desires: desires, list: list, desireCount: desires|length}) }}
            </div>
        </div>
    </div>
{% endblock %}