{% extends 'base.html.twig' %}

{% block title %}Wunschliste{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="page-header-text">
            {{ list.name }} von {{ list.owner.firstName }}
        </div>
        <div class="page-header-image">
            <img src="{{ asset('assets/img/registration.svg') }}" alt="Tile image">
        </div>
    </div>

    <div class="content-body">
        <div class="desire-image-button">
            <a href="{{ path('app_secret_santa_detail',  {'event': event.id}) }}">
                <button>
                    <img src="{{ asset('assets/img/event.svg') }}" alt="Tile image">
                    <div class="desire-image-button-text">Übersicht</div>
                </button>
            </a>
        </div>

        {% for desire in desires %}
            {{ component('ForeignDesireComponent', { desire: desire, desireList: list, currentUser: currentUser}) }}

        {% endfor %}
    </div>
{% endblock %}
