<div{{ attributes }} class="container-fluid p-0">
    <div class="card mb-3 shadow rounded">
        <!-- Card Header (Desire Name, Details, Priority, and Action Buttons) -->
        <div class="card-header bg-primary d-flex flex-column bg-body-secondary desire-card-header">
            <!-- Name and Priority Buttons -->
            <div class="d-flex justify-content-between align-items-center">
                <!-- Desire Name with Icon -->
                <button class="btn btn-link text-white text-decoration-none p-0 clamp-text"
                        style="flex: 1; min-width: 0;"
                        type="button"
                        data-bs-toggle="collapse"
                        aria-expanded="false"
                        aria-controls="collapseDetails{{ this.event.id }}"
                        data-bs-target="#collapseDetails{{ this.event.id }}">
                    <h5 class="mb-2 clamp-text">
                        <i class="fa-solid fa-tree me-2"></i> <!-- Added Icon -->
                        {{ this.event.name }}
                    </h5>
                </button>

                <!-- Buttons -->
                <div class="d-flex flex-column align-items-stretch ms-3">
                    {% if this.canEdit %}
                        <a href="{{ path('app_secret_santa_admin', {'event': event.id}) }}"
                           class="no-uppercase btn btn-light btn-small ">
                            <i class="fa-solid fa-gears btn-icon-sm"></i>
                            <span class="btn-text">Edit</span>
                        </a>
                    {% else %}
                        {% if this.event.openToJoin and not this.isUserParticipant %}
                            <a href="{{ path('app_event_join', {'event': event.id}) }}"
                               class="no-uppercase btn btn-sm btn-light btn-small">
                                <i class="fa-solid fa-check btn-icon-sm"></i>
                                <span class="btn-text">Teilnehmen</span>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if this.isUserParticipant %}
                        <a href="{{ path('app_secret_santa_detail', {'event': event.id}) }}"
                           class="no-uppercase btn  btn-sm btn-light btn-small">
                            <i class="fa-solid fa-eye btn-icon-sm"></i>
                            <span class="btn-text">Zum Event</span>
                        </a>
                    {% endif %}
                </div>
            </div>

            <!-- Subtitle or Header Info -->
            <div class="mt-2">
                <small class="text-dark fst-italic">
                    <i class="fa-solid fa-info-circle me-2"></i>{{ this.getHeaderText() }}
                </small>
            </div>
        </div>

        <!-- Collapsible Details Section -->
        <div id="collapseDetails{{ this.event.id }}" class="collapse">
            <div class="card-body bg-body-secondary">
                <p class="fw-bold text-primary">
                    <i class="fa-solid fa-circle-info me-2"></i>{{ this.event.name }}
                </p>
                <!-- Event Details -->
                <p class="mt-3 text-dark">Details:</p>
                <ul class="list-group list-group-flush">
                    <!-- Creator -->
                    <li class="list-group-item">
                        <strong><i class="fa-solid fa-user me-2"></i>Ersteller:</strong> {{ event.creator.fullName }}
                    </li>

                    <!-- Event Type -->
                    <li class="list-group-item">
                        <strong><i class="fa-solid fa-tags me-2"></i>Typ:</strong> {{ event.firstRound.eventType.value }}
                    </li>

                    <!-- Participants Count -->
                    <li class="list-group-item">
                        <strong><i class="fa-solid fa-users me-2"></i>Teilnehmer:</strong> {{ event.overallParticipants|length }}
                    </li>

                    <!-- Open to Join -->
                    <li class="list-group-item">
                        <strong><i class="fa-solid fa-unlock me-2"></i>Offen zur Teilnahme:</strong>
                        {% set open = 'bg-danger' %}
                        {% set openText = 'Nein' %}
                        {% if this.event.openToJoin %}
                            {% set open = 'bg-success' %}
                            {% set openText = 'Ja' %}
                        {% endif %}
                        <span class="badge {{ open }}">{{ openText }}</span>
                    </li>
                </ul>
            </div>

            <!-- Card Footer -->
            <div class="card-footer text-muted">
                <p>
                    <strong><i class="fa-solid fa-box-open me-1"></i>Eingetragene Wünsche:</strong>
                    {{  this.totalDesireCount }}
                </p>
            </div>
        </div>
    </div>
</div>