{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} Details{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="page-header-text">
            {{ event.name }}
        </div>
        <div class="page-header-image">
            <i class="fa-solid fa-gifts fa-lg me-3 text-secondary"></i>
        </div>
    </div>
    <div class="container my-5">
        <!-- Informational Text -->
        <div class="text-center mb-4 bg-dark p-3 rounded">
            <p class="text-white fs-5">
                Das hier ist dein Event: <span class="fw-bold">{{ event.name }}</span>. Momentan enthält die zugehörige Wunschliste <span class="text-success fw-bold">{{ event.desireLists.get(0).desires.count }}</span> Wünsche.
            </p>
            <p class=" mb-3 text-primary">
                <i class="fa-solid fa-info-circle me-2"></i> Ist die Liste priorisiert, sollen die Leute jene Geschenke, die oben stehen, zuerst besorgen
            </p>

        </div>
        <!-- Action Buttons -->
        <div class="row mb-4">
            <div class="col-12 col-md-auto mb-3 mb-md-0">
                <a href="{{ path('app_home') }}" class="btn btn-outline-secondary w-100">
                    <i class="fa-solid fa-home me-2"></i> Zurück
                </a>
            </div>
            <div class="col-12 col-md-auto">
                <a href="{{ path('app_desire_list', {'desireList': userDesireList.id}) }}" class="btn btn-success w-100">
                    <i class="fa-solid fa-list me-2"></i> Zur Wunschliste
                </a>
            </div>
        </div>
        <hr class="my-5">

        {{ component('EventDetail', {event: event}) }}
    </div>

{% endblock %}