{% extends 'base.html.twig' %}

{% block title %}Personen ausschließen{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="page-header-text">
            Events
        </div>
        <div class="page-header-image">
            <img src="{{ asset('assets/img/registration.svg') }}" alt="Tile image">
        </div>
    </div>


    <div class="content-body">
        <div class="simple-text-box font-size-1-2">Hier kannst du Personen ausschließen. Jeder Ausschluss gilt für beide Runden. Solange die andere Person dich nicht aktiv auch selber ausschließt, gilt dies nur für dich.</div>

        <div class="exclusion-container">
            <div class="exclusion-container-header">Bereits von dir ausgeschlossene Personen</div>
            {% for exclusion in exclusions %}
                <div class="exclusion-card">
                    <div class="exclusion-card-name">{{ exclusion.excludedUser.firstName }}</div>
                    <div class="remove-link">
                        <a href="{{ path('app_exclusion_delete', {exclusion: exclusion.id, event: event.id}) }}">
                            <button>
                                <img src="{{ asset('assets/img/trash.svg') }}" alt="Tile image">
                            </button>
                        </a>
                    </div>


                </div>
            {% endfor %}
        </div>


        <div class="form-area">
            {{ form_start(form, {'method': 'POST'}) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            <div class="form-input-field">
                <label style="display: block;" for="transaction_create_simple_target">Zu ausschließende Person</label>
                <div class="image-form-row">
                    <div class="image-form-row-image">
                        <img src="{{ asset('assets/img/target-person.svg') }}" alt="Tile image">
                    </div>
                    {{ form_widget(form.excludedUser, {'attr': {'class': 'form-style'}}) }}
                </div>
            </div>


            {{ form_row(form._token) }}
            <div class="form-submit-field">
                {{ form_widget(form.submit, {'attr': {'class': 'btn'}}) }}
            </div>
        </div>



    </div>
{% endblock %}
