{% extends 'base.html.twig' %}

{% block title %}Wichtelrunde erstellen{% endblock %}

{% block body %}
    <div class="ss-container">
        <div class="ss-banner"></div>

        <div class="page-header">
            <div class="page-header-text">
                {{ event.name }}
            </div>
            <div class="page-header-image">
                <img src="{{ asset('assets/img/registration.svg') }}" alt="Tile image">
            </div>
        </div>
        <div class="content-body">

            <div class="ss-header"></div>

            <div class="ss-participant-header">
                <div class="ss-participant-header-header">Teilnehmer</div>
                <div class="ss-participant-header-rounds">
                    <div class="ss-participant-header-round">
                        <img src="{{ asset('assets/img/tree.svg') }}" alt="Tile image">
                        <div class="ss-participant-header-amount">{{ event.firstRound.participants|length }}</div>
                    </div>

                    <div class="ss-participant-header-round">
                        <img src="{{ asset('assets/img/santa.svg') }}" alt="Tile image">
                        <div class="ss-participant-header-amount">{{ event.secondRound.participants|length }}</div>
                    </div>
                </div>
            </div>

            <div class="simple-text-box font-size-1-2">{{ stateText|raw }}</div>

            {% if showPick %}
                {{ component('SecretSantaPickComponent', { secret: secret, secretSantaEvent: event, currentUser: user, firstRound: showFirstRoundPick}) }}
            {% endif %}

            {% if firstRoundList is not null %}
                {#                <div class="desire-create-button"> #}
                {#                    <a href="{{ path('app_desire_list', {'desireList': firstRoundList.id}) }}"> #}
                {#                        <button> #}
                {#                            {{ firstRoundList.owner.firstName }}'s Wunschliste #}
                {#                        </button> #}
                {#                    </a> #}
                {#                </div> #}

                <div class="desire-image-button">
                    <a href="{{ path('app_desire_list', {'desireList': firstRoundList.id}) }}">
                        <button>
                            <img src="{{ asset('assets/img/tree.svg') }}" alt="Tile image">
                            <span class="desire-image-button-text">{{ firstRoundList.owner.firstName }}'s Wunschliste</span>
                        </button>
                    </a>
                </div>
            {% endif %}

            {% if secondRoundList is not null %}
                {#                <div class="desire-create-button"> #}
                {#                    <a href="{{ path('app_desire_list', {'desireList': secondRoundList.id}) }}"> #}
                {#                        <button> #}
                {#                            {{ secondRoundList.owner.firstName }}'s Wunschliste #}
                {#                        </button> #}
                {#                    </a> #}
                {#                </div> #}

                <div class="desire-image-button">
                    <a href="{{ path('app_desire_list', {'desireList': secondRoundList.id}) }}">
                        <button>
                            <img src="{{ asset('assets/img/santa.svg') }}" alt="Tile image">
                            <span class="desire-image-button-text">Zu {{ secondRoundList.owner.firstName }}'s Wunschliste</span>
                        </button>
                    </a>
                </div>
            {% endif %}

            {#            <div class="desire-create-button"> #}
            {#                <a href="{{ path('app_desire_list', {'desireList': ownList.id}) }}"> #}
            {#                    <button> #}
            {#                        Zu deiner Wunschliste #}
            {#                    </button> #}
            {#                </a> #}
            {#            </div> #}

            <div class="desire-image-button">
                <a href="{{ path('app_desire_list',  {'desireList': ownList.id}) }}">
                    <button>
                        <img src="{{ asset('assets/img/heart.svg') }}" alt="Tile image">
                        <span class="desire-image-button-text">Zu deiner Wunschliste</span>
                    </button>
                </a>
            </div>

            {#            <div class="desire-create-button"> #}
            {#                <a href="{{ path('app_exclusion_create', {'event': event.id}) }}"> #}
            {#                    <button> #}
            {#                        Personen ausschließen #}
            {#                    </button> #}
            {#                </a> #}
            {#            </div> #}

            <div class="desire-image-button">
                <a href="{{ path('app_exclusion_create', {'event': event.id}) }}">
                    <button>
                        <img src="{{ asset('assets/img/stop.svg') }}" alt="Tile image">
                        <span class="desire-image-button-text">Personen ausschließen</span>
                    </button>
                </a>
            </div>


        </div>
    </div>



{% endblock %}