<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('assets/fav/apple-touch-icon.png') }}" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
{#        {{ encore_entry_script_tags('navi') }}#}
{#        {{ encore_entry_script_tags('form') }}#}
        {{ encore_entry_script_tags('tab') }}
    {% endblock %}
</head>
<body>

<div class="body-container">

    {% include 'navi.html.twig' %}
    {# read and display several types of flash messages #}
    <div id="flash-message-container">
        {% for label, messages in app.flashes(['success', 'warning']) %}
            {% for message in messages %}
                <div class="flash-{{ label }} flash-message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {% block body %}{% endblock %}
    {% include 'footer.html.twig' %}
</div>

</body>
</html>
