
<div class="top-navi">
    <div class="top-navi-left">
        <a href="{{path('app_home')}}" class="navi-favicon">
            <img src="{{ asset('assets/fav/apple-touch-icon.png') }}" alt="Tile image">
        </a>
    {{ navi_button() | raw }}

    </div>
    <div class="nav-container">
        <button id="burger" class="open-main-nav">
            <span class="burger"></span>
            <span class="burger-text">Menu</span>
        </button>
    </div>


    <nav class="main-nav" id="main-nav">
        <ul>
            <li>
                <a href="{{path('app_home')}}">Home</a>
            </li>
            <li>
                <a href="https://wh-company.de">About</a>
            </li>
            <li>
                <a href="{{path('app_logout')}}">Logout</a>
            </li>
        </ul>
    </nav>
</div>
<script>
    let burger = document.getElementById('burger'),
        nav    = document.getElementById('main-nav'),
        slowmo = document.getElementById('slowmo');

    burger.addEventListener('click', function(e){
        this.classList.toggle('is-open');
        nav.classList.toggle('is-open');
    });

    // if (slowmo){
    //     slowmo.addEventListener('click', function(e){
    //         this.classList.toggle('is-slowmo');
    //     });
    // }


    /* Onload demo - dirty timeout */
    let clickEvent = new Event('click');

    window.addEventListener('load', function(e) {
        if (slowmo){
            slowmo.dispatchEvent(clickEvent);
            burger.dispatchEvent(clickEvent);

            setTimeout(function(){
                burger.dispatchEvent(clickEvent);

                setTimeout(function(){
                    slowmo.dispatchEvent(clickEvent);
                }, 3500);
            }, 5500);
        }

    });

    var homeButton = document.getElementById('home-button');
    if (homeButton){
        homeButton.querySelector('img').src = homeButton.getAttribute('data-image')
        homeButton.addEventListener('click', function() {
            if (button.classList.contains('link')){
                window.location.replace(button.getAttribute('data-link'))
            }
        });
    }
</script>