
<div class="top-navi">
    <div class="top-navi-left">
        <a href="{{path('app_home')}}" class="navi-favicon">
            <img src="{{ asset('assets/fav/apple-touch-icon.png') }}" alt="Tile image">
        </a>
    {{ navi_button() | raw }}

    </div>
    <div class="nav-container">
        <button id="burger" class="open-main-nav">
            <span class="burger"></span>
            <span class="burger-text">Menu</span>
        </button>
    </div>


    <nav class="main-nav" id="main-nav">
        <ul>
            <li>
                <a href="{{path('app_home')}}">Home</a>
            </li>
            <li>
                <a href="https://wh-company.de">About</a>
            </li>
            <li>
                <a href="{{path('app_logout')}}">Logout</a>
            </li>
        </ul>
    </nav>
</div>