<div{{ attributes }}>
    <div class="desire-card">
        <div class="desire-banner">Dein Wunsch</div>
        <div class="toggle-indicator"></div>

        <div class="desire-header">

            <div class="card-toggle" onclick="toggleEventDetails(event)">
                <div class="desire-name">{{ this.desire.name }}</div>
            </div>

            <div class="info-button-row">
                <div class="info-row">
                    <div class="info-tale {{ this.isActive() }}">
                        <img src="{{ asset('assets/img/eye.svg') }}" alt="Tile image">
                    </div>
                    <div class="info-tale {{ this.isExclusive() }}">
                        <img src="{{ asset('assets/img/multiple.svg') }}" alt="Tile image">
                    </div>
                    <div class="info-tale {{ this.isExactly() }}">
                        <img src="{{ asset('assets/img/exactly.svg') }}" alt="Tile image">
                    </div>
                </div>
                <div class="button-row">

                    <div class="priority-nav">
                        <div class="desire-card-priority-button {{ this.getDisableUp() }}">
                            <a href="{{ path('app_desire_decrease_priority', {'desire': this.desire.id, 'desireList': this.desireList.id}) }}">
                                <button {{ this.getDisableUp() }}>
                                    <img src="{{ asset('assets/img/up.svg') }}" alt="Tile image">
                                </button>
                            </a>
                        </div>
                        <div class="desire-card-priority-button {{ this.getDisableDown() }}">
                            <a href="{{ path('app_desire_increase_priority', {'desire': this.desire.id, 'desireList': this.desireList.id}) }}">
                                <button {{ this.getDisableDown() }}>
                                    <img src="{{ asset('assets/img/down.svg') }}" alt="Tile image">
                                </button>
                            </a>
                        </div>
                    </div>

{#                    <div class="desire-card-button">#}
{#                        <a href="{{ path('app_desire_edit', {'desireList': this.desireList.id, 'desire': this.desire.id}) }}">#}
{#                            <button class="join-button">#}
{#                                Bearbeiten#}
{#                            </button>#}
{#                        </a>#}
{#                    </div>#}

                    <div class="desire-image-button min ">
                        <a href="{{ path('app_desire_edit', {'desireList': this.desireList.id, 'desire': this.desire.id}) }}">
                            <button >
                                <img class="min" src="{{ asset('assets/img/pencil.svg') }}" alt="Tile image">
                                <span class="desire-image-button-text min">Bearbeiten</span>
                            </button>
                        </a>
                    </div>


                </div>
            </div>
        </div>
        <div class="desire-details">
            {% if this.isExactly() %}
                <h2>Du hast angegeben, dass du nur das Produkt aus dem Beispiel akzeptierst!</h2>
            {% endif %}
            {% for url in this.desire.urls %}
                <p>
                    <a href="{{ url.path }}" target="_blank">Beispiel</a>
                </p>
            {% endfor %}
            <h3>Beschreibung:</h3>
            <p>
                {{ this.desire.description }}
            </p>
        </div>
    </div>

</div>


<script>
    function toggleEventDetails(event) {
        const eventCard = event.currentTarget.parentElement.parentElement;
        if (!event.target.matches('.join-button')) {
            eventCard.querySelector('.toggle-indicator').classList.toggle('expanded');
            eventCard.classList.toggle('expanded');
        }
    }
</script>
