<div{{ attributes }} class="container-fluid">
    <div class="card mb-3">
        <!-- Card Header (Desire Name, Details, Priority and Action Buttons) -->
        <div class="card-header bg-primary text-white d-flex flex-column desire-card-header">
            <!-- Name and Priority Buttons -->
            <div class="d-flex justify-content-between align-items-center">
                <!-- Desire Name -->
                <button class="btn btn-link text-white text-decoration-none p-0"
                        style="flex: 1; min-width: 0;"
                        type="button"
                        data-bs-toggle="collapse"
                        aria-expanded="false"
                        aria-controls="collapseDetails{{ this.desire.id }}"
                        data-bs-target="#collapseDetails{{ this.desire.id }}">
                    <h5 class="mb-0 clamp-text">
                        {{ this.desire.name }}
                    </h5>
                </button>

                <!-- Priority Buttons -->
                {% if this.checkIsResolvedByUser == false %}
                    <div class="d-flex flex-column align-items-stretch ms-3">
                        <a href="{{ this.ButtonLink }}" class="no-uppercase btn btn-outline-light btn-sm {{ this.reserveDisabled }} {{ this.reserveButtonStyle }}">
                            <i class="fa-solid fa-basket-shopping"></i>
                            <span class="ms-2">{{ this.reserveButtonText }}</span>
                        </a>
                        {% if this.checkIsReservedByUser %}
                            <a href="{{ this.ResolveButtonLink }}" class="no-uppercase btn btn-outline-light btn-sm btn-success mt-2">
                                <i class="fa-solid fa-check"></i>
                                <span class="ms-2">Bestätigen</span>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <div class="mt-2">
                <small class="text-black-50">{{ this.getHeaderText() }}</small>
            </div>

            <!-- Details and Action Buttons -->
            <div class="d-flex justify-content-between align-items-center mt-3">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-fingerprint fa-lg {{ this.exactly }} me-3"></i>
                    <i class="fa-solid fa-copy fa-lg {{ this.isExclusive }} me-3"></i>
                </div>
            </div>
        </div>

        <!-- Collapse Section for Desire Details -->
        <div id="collapseDetails{{ this.desire.id }}" class="collapse">
            <div class="card-body">
                {% if this.isExactly() == 'text-success' %}
                    <h5 class="text-danger">ACHTUNG! Es sollte bitte exakt das Produkt aus dem Beispiellink sein!</h5>
                {% endif %}
                {% if this.getHeaderText() == 'Von jemand anderem reserviert' and this.isExclusive == 'text-success' %}
                    <h5 class="text-danger">Zwar schon von jemand anderem reserviert, aber es darf mehrfach geschenkt werden</h5>
                {% endif %}


                <!-- Description -->
                <h5 class="mt-3">Beschreibung:</h5>
                <p>
                    {{ this.desire.description }}
                </p>
                <!-- Image Section -->
                <div class="row mt-3">
                    {% for image in this.desire.images %}
                        <div class="col-6 col-sm-4 col-md-3">
                            <div role="button" onclick="showLargeImage('{{ image.cdnUrl }}')">
                                <img src="{{ image.cdnUrl }}" class="img-thumbnail" alt="Desire Image">
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- URLs -->
                {% for url in this.desire.urls %}
                    <p class="mt-2">
                        <a href="{{ url.path }}" target="_blank" class="btn btn-link">Beispiel</a>
                    </p>
                {% endfor %}
            </div>

            <!-- Card Footer with Description -->
            <div class="card-footer">
                <p>{{ this.desire.name }}</p>
            </div>
        </div>
    </div>

    <!-- Image Modal -->
    <div id="imageModal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img class="img-fluid" id="img01" alt="Large Image">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showLargeImage(imageSrc) {
        const modal = new bootstrap.Modal(document.getElementById('imageModal'));
        document.getElementById('img01').src = imageSrc;
        modal.show();
    }
</script>