<div{{ attributes }}>
    <div class="ss-event-card">
        {{ event.name }}
        {% if this.event.openToJoin %}
            <a href="{{ path('app_secret_santa_detail', {'event': event.id}) }}">
                <button>
                    Teilnehmen
                </button>
            </a>
        {% endif %}
        {% if this.canEdit %}
            <a href="{{ path('app_event_join', {'event': event.firstRound.id}) }}">
            <button class="" id="contributeButton{{ event.id }}">
                Edit
            </button>
            </a>
        {% endif %}
    </div>
</div>